.navbar {
  background-color: #282c34;
  padding: 10px 0;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover {
  color: #61dafb;
}
