.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.navbar ul li a {
  color: black;
  text-decoration: none;
  right: 10%;
  position: absolute;
}

.navbar ul li a:hover {
  color: #61dafb;
}
